/****************************
base
****************************/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1920px;
  color: $dark;
  margin: 0 auto;
}
input,
button,
textarea,
select {
  font-size: 14px;
  border: 0;
  outline: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
input {
  line-height: normal;
}
ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
section[id] {
  scroll-margin-top: 30px;
}
section {
  display: block;
}
.main {
  & .container-fluid {
    max-width: 1230px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
