#primary-navbar {
  padding: 1.5rem;
  height: 88px;
  background-color: transparent;
  & .container-fluid {
    max-width: 1600px;
  }
  & .logo {
    padding-right: 1rem;
  }
  & .brand {
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    outline: none;
    margin-right: auto;
    padding-right: 16px;
  }
  & .navbar-collapse {
    position: absolute;
    top: 88px;
    width: 100%;
    left: 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    z-index: 10;
    transition: height 0.1s;
    & .navbar-nav {
      & > .nav-item {
        font-weight: 700;
        text-transform: uppercase;
        & > .nav-link {
          outline: 0;
          color: $white;
          &.btn {
            background-color: $orange;
            color: $white !important;
            font-weight: 700;
            margin: 0 0 0 1rem;
            padding: 0.5rem 1rem;
            border: none;
            & i {
              font-size: 20px;
              display: inline-block;
              font-weight: 700;
              margin-top: -3px;
            }
          }
        }
      }
    }
  }
}
.logo-blue {
  display: none;
}
.navbar {
  &.sticky {
    background-color: $white !important;
    box-shadow: 0 1px 4px 0 rgb(48 53 66 / 24%);
    transition: all 0.3s ease-in-out;
    & .logo-white {
      display: none;
    }
    & .logo-blue {
      display: block;
    }
    & .brand {
      color: $blue !important;
    }
    & .dropdown-toggle {
      & i {
        color: $blue !important;
      }
      & .language-switcher-name {
        color: $blue !important;
      }
      &::after {
        color: $blue !important;
      }
    }
    & .nav-link {
      color: $dark !important;
    }
  }
}
.language-switcher {
  margin-right: auto;
  & .dropdown-toggle {
    width: 116px;
    color: #aabdea;
    background-color: transparent;
    font-size: 14px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & i {
      color: $white;
      font-size: 20px;
    }
    & .language-switcher-name {
      margin-right: auto;
      max-width: 70px;
      font-size: 12px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }
}
.ml-auto {
  margin-left: auto !important;
}
a {
  color: $blue;
  background-color: transparent;
}
@media (min-width: 992px) {
  #primary-navbar {
    & .navbar-collapse {
      position: relative;
      width: unset;
      left: unset;
      top: unset;
      padding-right: unset;
      padding-left: unset;
      padding-bottom: unset;
      background-image: unset;
      background-color: unset;
    }
  }
  .navbar-expand-lg {
    & .navbar-nav {
      flex-direction: row;
      align-items: center;
      & .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
}
