/*================== Font ==============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// Font Variables
$primary-font: "Open Sans", sans-serif;

// Font Variables
$blue: #174bc9;
$white: #fff;
$grayishBlue: #c1c5cf;
$green: #59ca00;
$dark: #212529;
$orange: #ff8500;
